<div class="jhlite-github-repository">
  <div v-if="isAuthenticated">
    <select v-model="selectedOrganization" class="jhlite-select" data-selector="github-organizations-select">
      <option value="" disabled>Select an organization</option>
      <option v-for="org in organizations" :key="org.login" :value="org">{{ org.name || org.login }}</option>
    </select>
    <div v-if="selectedOrganization" class="jhlite-repository-choice" data-selector="github-repository-choice">
      <div class="jhlite-radio-group">
        <div class="jhlite-radio-option">
          <input type="radio" id="new-repository" value="new" v-model="repositoryChoice" data-selector="github-new-repository-radio" />
          <label for="new-repository">Create new repository</label>
        </div>
        <div class="jhlite-radio-option">
          <input
            type="radio"
            id="existing-repository"
            value="existing"
            v-model="repositoryChoice"
            data-selector="github-existing-repository-radio"
          />
          <label for="existing-repository">Pick existing repository</label>
        </div>
      </div>
    </div>
    <button class="jhlite-button-secondary" @click="goToConfiguration" data-selector="github-configuration-btn">Configure GitHub</button>
  </div>
  <div v-else>
    <button class="jhlite-button-main" @click="connectToGithub" data-selector="github-connect-btn">
      <IconVue name="github" aria-label="Connect to GitHub" title="Connect to GitHub" />
      Connect to GitHub
    </button>
  </div>
</div>
